elGalpon/bin/

*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
#*.tmp_proj
#*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.dll

/ElGalpon.Business/bin/Debug/*
*.json
*.props
*.targets
*.cache
*.cs
*.CopyComplete
*.txt
*.suo
*.exe
#*.resources
*.v2
#*.resx
*.config
#*.csproj
*.p7s
*.nupkg
*.md
*.xml
*.png
*._
